body{
    background-color: beige;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    line-height: 1.5;
}
html{
    scroll-behavior: smooth;
}
.vtabs{
    max-width: 50%;
    padding: 20px;
    margin: 25px;
    position: relative;
}
.vtabs input{
    display: none;
}
.vtabs label{
    display: block;
    width: 20%;
    padding: 15px;
    color: #201f1d;
    font-weight: 700;
    font-size: 20px;
    border-left: 5px solid #201f1d;
    transition: .3s ease;
}
.vtabs label:hover{
    cursor: pointer;
    color: #fae608;

}
.vtabs input:checked + label{
    color:#fae608;
    border-left: 5px solid #fae608;
}
.vtabs .vtabscontent {
    position: absolute;
    top: 0;
    max-width: 65%;
    right: 20px;  
}
.vtabs .vtabscontent div{
    display: none;
}
.vtabs #tab1:checked ~ .vtabscontent #content1,
.vtabs #tab2:checked ~ .vtabscontent #content2,
.vtabs #tab3:checked ~ .vtabscontent #content3,
.vtabs #tab4:checked ~ .vtabscontent #content4
{
    display: contents;
}
section{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
