body{
    background: #979694;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    margin: auto;
    text-align: center;

}
nav ul {
    padding: 0;
    list-style: none;
}
nav ul li{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
}
nav ul li a{
   color: #fff;
   display: inline-block;
   padding: 0.5em 0.75em;
   background-color: #666;
   border-radius: 4px;
   text-decoration: none;
}
.current{
   background-color: #000;
}
